{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <h3>Investors</h3>
    </div>

    <div class="row">
        <h3>Criar conta</h3>
    </div>

    <form action="" method="post" class="row">
        {{ form.csrf_token }}

        {{ form.name.label() }}
        {{ form.name() }}

        {{ form.invested_value.label() }}
        {{ form.invested_value() }}

        {{ form.quantidades_cotas.label() }}
        {{ form.quantidades_cotas() }}

        {{ form.btnSubmit() }}
    </form>
    
    <a href="{{url_for('perfil')}}">Voltar</a>

</div>
{% endblock %}