{% extends 'base.html' %}

{% block content %}
<div class="container">

    <div class="row">
        <h3>Criar conta</h3>
    </div>

    <form action="" method="post" class="row">
        {{ form.csrf_token }}

        {{ form.name.label() }}
        {{ form.name() }}

        {{ form.email.label() }}
        {{ form.email() }}

        {% if context.emailUsado %}
        <h7>Email já está sendo ultilizado</h7>
        {% endif %}

        {{ form.btnSubmit() }}
    </form>
    <a href="{{url_for('homepage')}}">Voltar</a>
</div>
{% endblock %}