{% extends 'base.html' %}

{% block titulo %}Perfil{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stylePerfil.css') }}">
<script src="{{ url_for('static', filename='js/popUp.js') }}"></script>

<h1>{{ context.investidor.nome }}</h1>

<div class="acoes-perfil">
    <button onclick="abrirModal()">Alterar nome</button>
</div>

<div id="modal">
    <div id="modal_content">
        <h2>Alterar nome</h2>

        <form action="{{ url_for('updateName') }}" method="POST">
            <input type="text" name="novo_nome" placeholder="Digite o novo nome">
            <button type="submit">Salvar</button>
        </form>

        <button onclick="fecharModal()">Cancelar</button>
    </div>
</div>


<!-- # Imobiliario -->
<ul> 
    {% if context.carteira.imobiliario %}
    <h4>Investimento imobiliário</h4>
        {% for investimento in context.carteira.imobiliario %}
            <li>{{ investimento.name }}<br/>
                investido: {{ investimento.invested_value }}<br/>
                Cotas: {{ investimento.quantidades_cotas|int }}<br/>
                Valor por cota: {{ (investimento.invested_value/investimento.quantidades_cotas|int) | round(2) }}
                <form action="" method="post">
                Cotas do próximo mês: 
                    <input type="hidden" name="acao" value="previsao">
                    <input type="hidden" name="investimento_id" value="{{ investimento.id }}">
                    <input type="text" name="previsaoCota">
                    <button type="submit">Calcular</button>
                </form>

                {% if context.resultado and context.investimento_calculado_id|int == investimento.id %}
                Lucro: {{ context.resultado }}<br/>
                {% endif %}

                <form action="" method="post">
                    <input type="hidden" name="acao" value="lucro-imobiliario">
                    <input type="hidden" name="investimento_id" value="{{ investimento.id }}">
                    Valor atual da cota: <input type="text" name="lucro">
                    <button type="submit">Calcular lucro/perda</button><br/>
                </form>

                {% if context.resultado_lucro and context.valor_cota and context.tipo == 'imobiliario' %}
                Valor a receber: {{ context.resultado_lucro }}<br/>
                {% endif %}

                <a href="{{ url_for('addCota', id=investimento.id) }}"><button>Adicionar cotas</button></a>
                
                <form action="{{ url_for('deleteInvestment', id=investimento.id, type='imobiliario') }}">
                    <button type="submit">Deletar</button>
                </form>
            </li>
        {% endfor %}
    {% endif %}
</ul>

<!-- # Renda_fixa -->
<ul>
    {% if context.carteira.renda_fixa %}
    <h4>Renda fixa</h4>
        {% for investimento in context.carteira.renda_fixa %}
            <li>{{ investimento.name }}<br/>
                Valor investido: {{ investimento.invested_value }}<br/>
                Porcentagem de lucro: {{ investimento.interest_rate }}<br/>
                Data final: {{ investimento.maturity_date.strftime('%d/%m/%Y') }}<br/>
                Dias restantes: {{ dias_restantes(investimento.maturity_date) }} <br/>
                Projeção de ganhos: {{ projecaoGanhos(investimento.invested_value, investimento.interest_rate, dias_restantes(investimento.maturity_date)) }}

                <form action="{{ url_for('deleteInvestment', id=investimento.id, type='renda_fixa') }}">
                    <button type="submit">Deletar</button>
                </form>

            </li>
        {% endfor %}
    {% endif %}
</ul>

<!-- # Ação -->
<ul>
    {% if context.carteira.acao %}
    <h4>Acao</h4>
        {% for investimento in context.carteira.acao %}
            <li>
                Ticker: {{ investimento.ticker }}<br/>
                Nome: {{ investimento.name }}<br/>
                Valor investido: {{ investimento.invested_value }}<br/>
                Quantidade investida: {{ investimento.quantity }}

                <form action="{{ url_for('deleteInvestment', id=investimento.id, type='acao') }}">
                    <button type="submit">Deletar</button>
                </form>

                <form action="" method="post">
                    <input type="hidden" name="acao" value="lucro-acao">
                    <input type="hidden" name="investimento_id" value="{{ investimento.id }}">
                    Valor atual da cota: <input type="text" name="lucro">
                    <button type="submit">Calcular lucro/perda</button><br/>
                </form>

                {% if context.resultado_lucro and context.valor_cota and context.tipo == 'acao' %}
                Valor a receber: {{ context.resultado_lucro }}<br/>
                {% endif %}

            </li>
        {% endfor %}
    {% endif %}
</ul>

<div class="links-finais">
    <a href="{{url_for('logout')}}">Deslogar</a>
    <a href="{{url_for('escolher_investimento')}}">Adicionar investimento</a>
</div>

{% endblock %}