<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Renda fixa</title>
</head>
<body>
    <form action="" method="post" class="row">
        {{ form.csrf_token }}

        {{ form.name.label }}
        {{ form.name() }}

        {{ form.invested_value.label }}
        {{ form.invested_value() }}

        {{ form.interest_rate.label }}
        {{ form.interest_rate() }}

        {{ form.maturity_date.label }}
        {{ form.maturity_date() }}

        {{ form.btnSubmit() }}
    </form>

            <a href="{{url_for('perfil')}}">Voltar</a>
            
</body>
</html>